@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

.container {
  font-family: "Nunito", sans-serif;
  max-width: 1240px;
  max-height: 1800px;
  margin: 0 auto;
  justify-content: center;
}

.header-con {
  width: 100%;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #e5e5e5;
  height: 72px;
  background: #ffffff;
}

.header-con img {
  padding-left: 15px;

  width: 100%;
  height: 50px;
}

.logo {
  margin-left: 0px;
}

.hamberger {
  display: none;
}

.header-btn {
  display: flex;
  align-items: center;
  width: 277px;
  justify-content: space-between;
  margin-right: 24.5px;
}
.header-btn a {
  align-items: center;
  text-align: center;
  padding-top: 8px;
}

.btn-l {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  width: 129.5px;
  height: 25px;
  border: 1px solid #e9f0fd;
  color: #6a75ca;
  border-radius: 3px;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  margin-left: 0;
}

.btn-r {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  width: 130.5px;
  height: 25px;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  background: #5d59f3;
  font-size: 12px;
  color: #ffffff;
  transition: 0.3s;
}

.content-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  position: relative;
}
.content-top {
  /* border: solid 1px yellow; */
  justify-content: center;
  position: absolute;
  margin-top: -10%;
}

.content-top img {
  width: 80%;
  padding-left: 7%;
}

.content-btm {
  height: 300px;

  text-align: center;
  /* border: solid 1px red; */
  position: absolute;
  padding-top: 0px;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
  width: 50%;
}

.content-btm h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 50.47px;
  padding-top: 0px;
}

.content-btm p {
  font-size: 16px;
  font-weight: 700;
  line-height: 27.74px;
  color: #b9bbd2;
  padding-top: -5px;
}

.content-btn {
  display: flex;
  flex-direction: column;
  /* border: solid 1px blue; */
  margin-top: 46%;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 28%;
  position: absolute;
}
.content-btn p {
  color: #b9bbd2;
  font-weight: 400;
}

.photo-btn {
  width: 100%;
  height: 35px;
  border-radius: 3px;
  background-color: #5d59f3;
  border: none;
  cursor: pointer;
}

.photo-btn:hover {
  background-color: #565394;
  opacity: 0.9;
}

.photo-btn img {
  width: 30%;
}

.load-btn {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  background-color: #5d59f3;
  border: none;
  cursor: pointer;
}
.load-btn:hover {
  background-color: #565394;
  opacity: 0.9;
}
.load-btn img {
  width: 20%;
}

.inform {
  width: 100%;
  margin-top: 20px;
}

.inform input {
  width: 90%;
  height: 32px;
  border-radius: 3px 0px 0px 3px;
  margin-right: 0px;
  border: 1px solid #c4c4c4;
}

.inform p {
  font-family: "Nunito", sans-serif;
  padding-top: 5px;
  font-size: 14px;
  line-height: 16.37px;
}

.inform-btn {
  margin-left: 0px;
  width: 10%;
  height: 35px;
  border-radius: 3px 3px;
  background-color: #5d59f3;
  border: none;
  cursor: pointer;
}

.inform-btn:hover {
  background-color: #565394;
  opacity: 0.9;
}

.inform-btn img {
  width: 40%;
  height: 50%;
}

.inform-1 {
  display: flex;

  justify-content: center;
  padding-right: 0px;
}

/*@media screen and (max-width: 640px) {
  .header-con {
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }
  .hamberger {
    display: flex;
    justify-content: flex-end;
  }
  .header-con img {
    padding-left: 0px;
  }
  .header-btn {
    display: none;
  }
  .content-con {
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content-top {
    margin-top: -50%;
  }
  .content-top img {
    width: 75%;

    margin-top: -10%;
    margin-left: -7%;
  }

  .content-btm {
    width: 70%;
    margin-top: 10%;
  }
  .photo-btn img {
    width: 25%;
  }
  .content-btn {
    width: 70%;
    margin-top: 50%;
  }
  .photo-btn {
    height: 30px;
  }
  .load-btn img {
    width: 17%;
  }
  .load-btn {
    height: 30px;
  }

  .inform-1 input {
    width: 90%;
    height: 27px;
  }
  .inform-btn {
    width: 10%;
    height: 30px;
  }
  .content-btm h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32.55px;
    padding-top: 0px;
  }
  .content-btm p {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.82px;
  }

  .inform p {
    display: none;
  }
}

/* @media screen and (max-width: 840px) {
  .content-btn {
    width: 50%;
    margin-top: 65%;
  }

  .load-btn img {
    width: 17%;
  }

  .inform-1 input {
    width: 90%;
    height: 27px;
  }
  .inform-btn {
    width: 10%;
    height: 30px;
  }
} */
/* mobile screen */
@media only screen and (min-width: 280px) and (max-width: 840px) {
  .header-con {
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }
  .hamberger {
    display: flex;
    justify-content: flex-end;
  }
  .hamberger:hover {
    cursor: pointer;
  }

  .header-con img {
    padding-left: 0px;
  }
  .header-btn {
    display: none;
  }
  .content-con {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content-top {
    margin-top: -60%;
  }
  .content-top img {
    width: 75%;

    margin-top: -10%;
    margin-left: -7%;
  }

  .content-btm {
    width: 70%;
    margin-top: -5%;
  }
  .photo-btn img {
    width: 30%;
  }
  .content-btn {
    width: 65%;
    margin-top: 65%;
  }
  .photo-btn {
    height: 30px;
  }
  .load-btn img {
    width: 22%;
  }
  .load-btn {
    height: 30px;
  }

  .inform-1 input {
    width: 87%;
    height: 27px;
  }
  .inform-btn {
    width: 13%;
    height: 30px;
  }
  .content-btm h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32.55px;
    padding-top: 0px;
  }
  .content-btm p {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.82px;
  }

  .inform p {
    display: none;
  }
}

/* ipad screen */
@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (orientation: portrait) {
  .content-con {
    width: 70%;
    justify-content: center;
    margin-left: 15%;
    margin-top: 40px;
    position: absolute;
  }
}
@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (orientation: landscape) {
  .content-con {
    margin-top: -10%;
  }
  .content-top {
    margin-top: -10%;
  }

  .content-btm {
    width: 70%;
    margin-top: 20%;
  }
  .content-btm h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .content-btm p {
    font-size: 14px;
    line-height: 25px;
  }
  .content-btn {
    margin-top: 55%;
    width: 50%;
  }
  .content-btn p {
    color: #b9bbd2;
    font-weight: 400;
  }
  .inform input {
    width: 90%;
  }
  .inform-btn {
    width: 10%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content-con {
    margin-top: 10%;
  }
  .content-top {
    margin-top: -28%;
    margin-left: -5%;
  }
  .content-top img {
    width: 90%;
  }
  .content-btm {
    width: 70%;
    margin-top: 10%;
  }
  .content-btm h1 {
    font-size: 42px;
    line-height: 55px;
  }
  .content-btm p {
    font-size: 14px;
    line-height: 25px;
  }
  .content-btn {
    margin-top: 62%;
    width: 50%;
  }
  .content-btn p {
    color: #b9bbd2;
    font-weight: 400;
  }
  .inform input {
    width: 85%;
  }
  .inform-btn {
    width: 15%;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
  .content-con {
    margin-top: -4%;
  }
  .content-top {
    margin-top: -15%;
  }
}

/* @media only screen and (min-device-width: 600px) and (max-device-width: 900px) and (orientation: portrait) {
  .content-con {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content-top {
    margin-top: -50%;
  }

  .content-top img {
    width: 70%;
    margin-top: -10%;
    margin-left: -7%;
  }

  .content-btm {
    width: 75%;
    margin-top: 15%;
  }
  .content-btm h1 {
    font-size: 28px;
  }
  .photo-btn img {
    width: 40%;
  }
  .content-btn {
    width: 60%;
    margin-top: 65%;
  }
  .photo-btn {
    height: 30px;
  }
  .load-btn img {
    width: 27%;
  }
  .load-btn {
    height: 30px;
  }

  .inform input {
    height: 27px;
  }
  .inform-btn {
    height: 30px;
  }
  .content-btm h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32.55px;
    padding-top: 0px;
  }
  .content-btm p {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.82px;
  }

  .inform p {
    display: none;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 900px) and (orientation: landscape) {
  .content-con {
    margin-top: -10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
} */
